    {
        "openapi": "3.0.3",
        "info": {
            "title": "Finmar API",
            "version": "3.0.0"
        },
        "servers": [
            {
                "url": "https://finmar.tech/prepare2/api/v3"
            }
        ],
        "paths": {
            "/crypto/smart-payment/get-direct-url": {
                "post": {
                    "operationId": "mutation.smartPayment.getDirectUrl",
                    "summary": "smart-payment/get-direct-url",
                    "description": "Get direct url to product",
                    "tags": [
                        "crypto"
                    ],
                    "security": [
                        {
                            "Basic": [],
                            "KeyId": [],
                            "Signature": []
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "merchant_user_entry_point_url": {
                                            "type": "string"
                                        },
                                        "report_metadata": {
                                            "type": "string",
                                            "maxLength": 255,
                                            "description": "max length = 255"
                                        },
                                        "project_id": {
                                            "type": "string"
                                        },
                                        "client_operation_id": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "user_id": {
                                                    "type": "string"
                                                },
                                                "user_display_id": {
                                                    "type": "string"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "email_verified": {
                                                    "type": "boolean"
                                                },
                                                "email_verified_at": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "phone_verified": {
                                                    "type": "boolean"
                                                },
                                                "phone_verified_at": {
                                                    "type": "string"
                                                },
                                                "preferred_locale": {
                                                    "type": "string"
                                                },
                                                "preferred_timezone": {
                                                    "type": "string"
                                                },
                                                "profile_country": {
                                                    "type": "string"
                                                },
                                                "current_ip_address": {
                                                    "type": "string"
                                                },
                                                "billing_address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "zip_code": {
                                                            "type": "string"
                                                        },
                                                        "address_line_1": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "country"
                                                    ]
                                                },
                                                "statistics": {
                                                    "type": "object",
                                                    "properties": {
                                                        "registered_at": {
                                                            "type": "string"
                                                        },
                                                        "registration_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "registration_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "total_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "total_withdrawal_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "most_recent_deposit_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_deposit_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_deposit_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawal_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawl_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_withdrawl_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "card_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "card_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "crypto_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "crypto_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "apm_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "apm_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        }
                                                    }
                                                },
                                                "kyc": {
                                                    "type": "object",
                                                    "properties": {
                                                        "result": {
                                                            "type": "string",
                                                            "enum": [
                                                                "SUCCESS",
                                                                "FAIL"
                                                            ]
                                                        },
                                                        "verification_kind": {
                                                            "default": "NONE",
                                                            "type": "string",
                                                            "enum": [
                                                                "NONE",
                                                                "ID_DOCUMENT",
                                                                "SELFIE"
                                                            ]
                                                        },
                                                        "id_document_kind": {
                                                            "type": "string",
                                                            "enum": [
                                                                "ID_CARD",
                                                                "PASSPORT",
                                                                "DRIVING_LICENSE",
                                                                "RESIDENCE_PERMIT"
                                                            ]
                                                        },
                                                        "id_document_country": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_share_token": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_client_id": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_applicant_id": {
                                                            "type": "string"
                                                        },
                                                        "date_of_verification": {
                                                            "type": "string"
                                                        },
                                                        "full_name": {
                                                            "type": "string"
                                                        },
                                                        "age": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "gender": {
                                                            "type": "string",
                                                            "enum": [
                                                                "MALE",
                                                                "FEMALE"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "result"
                                                    ]
                                                },
                                                "telegram_id": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "user_id"
                                            ]
                                        },
                                        "amount": {
                                            "type": "object",
                                            "properties": {
                                                "amount": {
                                                    "type": "string",
                                                    "pattern": "^[0-9]*[.]?[0-9]*$",
                                                    "example": "10.00"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "amount",
                                                "currency"
                                            ]
                                        },
                                        "url_redirect_success": {
                                            "type": "string"
                                        },
                                        "url_redirect_fail": {
                                            "type": "string"
                                        },
                                        "url_callback": {
                                            "type": "string"
                                        },
                                        "payment_profile": {
                                            "type": "string"
                                        },
                                        "locale": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "metadata": {
                                            "type": "string"
                                        },
                                        "amount_alternatives": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "amount": {
                                                        "type": "string",
                                                        "pattern": "^[0-9]*[.]?[0-9]*$",
                                                        "example": "10.00"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "amount",
                                                    "currency"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "user",
                                        "amount",
                                        "payment_profile"
                                    ],
                                    "additionalProperties": true,
                                    "example": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "example",
                                        "project_id": "test_project"
                                    }
                                }
                            }
                        }
                    },
                    "parameters": [],
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "trace_id": {
                                                "type": "string"
                                            },
                                            "result": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "reference_id": {
                                                        "type": "string"
                                                    },
                                                    "launch_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "iframe",
                                                            "new_window"
                                                        ]
                                                    },
                                                    "kyc_status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "approved",
                                                            "rejected",
                                                            "none"
                                                        ]
                                                    },
                                                    "user_stats": {
                                                        "type": "string",
                                                        "enum": [
                                                            "present",
                                                            "not_present",
                                                            "unknown"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "reference_id"
                                                ]
                                            },
                                            "error": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "enum": [
                                                            "PARSE_ERROR",
                                                            "BAD_REQUEST",
                                                            "INTERNAL_SERVER_ERROR",
                                                            "NOT_IMPLEMENTED",
                                                            "UNAUTHORIZED",
                                                            "FORBIDDEN",
                                                            "NOT_FOUND",
                                                            "METHOD_NOT_SUPPORTED",
                                                            "TIMEOUT",
                                                            "CONFLICT",
                                                            "PRECONDITION_FAILED",
                                                            "PAYLOAD_TOO_LARGE",
                                                            "UNPROCESSABLE_CONTENT",
                                                            "TOO_MANY_REQUESTS",
                                                            "CLIENT_CLOSED_REQUEST"
                                                        ]
                                                    },
                                                    "details": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "details"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "success",
                                            "trace_id"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/crypto/crypto-protect/get-direct-url": {
                "post": {
                    "operationId": "mutation.cryptoProtect.getDirectUrl",
                    "summary": "crypto-protect/get-direct-url",
                    "description": "Get direct url to product",
                    "tags": [
                        "crypto"
                    ],
                    "security": [
                        {
                            "Basic": [],
                            "KeyId": [],
                            "Signature": []
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "merchant_user_entry_point_url": {
                                            "type": "string"
                                        },
                                        "report_metadata": {
                                            "type": "string",
                                            "maxLength": 255,
                                            "description": "max length = 255"
                                        },
                                        "project_id": {
                                            "type": "string"
                                        },
                                        "client_operation_id": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "user_id": {
                                                    "type": "string"
                                                },
                                                "user_display_id": {
                                                    "type": "string"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "email_verified": {
                                                    "type": "boolean"
                                                },
                                                "email_verified_at": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "phone_verified": {
                                                    "type": "boolean"
                                                },
                                                "phone_verified_at": {
                                                    "type": "string"
                                                },
                                                "preferred_locale": {
                                                    "type": "string"
                                                },
                                                "preferred_timezone": {
                                                    "type": "string"
                                                },
                                                "profile_country": {
                                                    "type": "string"
                                                },
                                                "current_ip_address": {
                                                    "type": "string"
                                                },
                                                "billing_address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "zip_code": {
                                                            "type": "string"
                                                        },
                                                        "address_line_1": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "country"
                                                    ]
                                                },
                                                "statistics": {
                                                    "type": "object",
                                                    "properties": {
                                                        "registered_at": {
                                                            "type": "string"
                                                        },
                                                        "registration_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "registration_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "total_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "total_withdrawal_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "most_recent_deposit_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_deposit_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_deposit_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawal_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawl_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_withdrawl_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "card_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "card_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "crypto_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "crypto_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "apm_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "apm_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        }
                                                    }
                                                },
                                                "kyc": {
                                                    "type": "object",
                                                    "properties": {
                                                        "result": {
                                                            "type": "string",
                                                            "enum": [
                                                                "SUCCESS",
                                                                "FAIL"
                                                            ]
                                                        },
                                                        "verification_kind": {
                                                            "default": "NONE",
                                                            "type": "string",
                                                            "enum": [
                                                                "NONE",
                                                                "ID_DOCUMENT",
                                                                "SELFIE"
                                                            ]
                                                        },
                                                        "id_document_kind": {
                                                            "type": "string",
                                                            "enum": [
                                                                "ID_CARD",
                                                                "PASSPORT",
                                                                "DRIVING_LICENSE",
                                                                "RESIDENCE_PERMIT"
                                                            ]
                                                        },
                                                        "id_document_country": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_share_token": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_client_id": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_applicant_id": {
                                                            "type": "string"
                                                        },
                                                        "date_of_verification": {
                                                            "type": "string"
                                                        },
                                                        "full_name": {
                                                            "type": "string"
                                                        },
                                                        "age": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "gender": {
                                                            "type": "string",
                                                            "enum": [
                                                                "MALE",
                                                                "FEMALE"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "result"
                                                    ]
                                                },
                                                "telegram_id": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "user_id"
                                            ]
                                        },
                                        "amount": {
                                            "type": "object",
                                            "properties": {
                                                "amount": {
                                                    "type": "string",
                                                    "pattern": "^[0-9]*[.]?[0-9]*$",
                                                    "example": "10.00"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "amount",
                                                "currency"
                                            ]
                                        },
                                        "url_redirect_success": {
                                            "type": "string"
                                        },
                                        "url_redirect_fail": {
                                            "type": "string"
                                        },
                                        "url_callback": {
                                            "type": "string"
                                        },
                                        "payment_profile": {
                                            "type": "string"
                                        },
                                        "locale": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "metadata": {
                                            "type": "string"
                                        },
                                        "amount_alternatives": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "amount": {
                                                        "type": "string",
                                                        "pattern": "^[0-9]*[.]?[0-9]*$",
                                                        "example": "10.00"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "amount",
                                                    "currency"
                                                ]
                                            }
                                        },
                                        "bank_card": {
                                            "type": "object",
                                            "properties": {
                                                "pan": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "cardholder": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "expiration_month": {
                                                    "type": "integer"
                                                },
                                                "expiration_year": {
                                                    "type": "integer"
                                                },
                                                "cvv": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            },
                                            "required": [
                                                "pan",
                                                "cardholder",
                                                "expiration_month",
                                                "expiration_year",
                                                "cvv"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "user",
                                        "amount",
                                        "payment_profile"
                                    ],
                                    "additionalProperties": true,
                                    "example": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "example",
                                        "project_id": "test_project"
                                    }
                                }
                            }
                        }
                    },
                    "parameters": [],
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "trace_id": {
                                                "type": "string"
                                            },
                                            "result": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "reference_id": {
                                                        "type": "string"
                                                    },
                                                    "launch_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "iframe",
                                                            "new_window"
                                                        ]
                                                    },
                                                    "kyc_status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "approved",
                                                            "rejected",
                                                            "none"
                                                        ]
                                                    },
                                                    "user_stats": {
                                                        "type": "string",
                                                        "enum": [
                                                            "present",
                                                            "not_present",
                                                            "unknown"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "reference_id"
                                                ]
                                            },
                                            "error": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "enum": [
                                                            "PARSE_ERROR",
                                                            "BAD_REQUEST",
                                                            "INTERNAL_SERVER_ERROR",
                                                            "NOT_IMPLEMENTED",
                                                            "UNAUTHORIZED",
                                                            "FORBIDDEN",
                                                            "NOT_FOUND",
                                                            "METHOD_NOT_SUPPORTED",
                                                            "TIMEOUT",
                                                            "CONFLICT",
                                                            "PRECONDITION_FAILED",
                                                            "PAYLOAD_TOO_LARGE",
                                                            "UNPROCESSABLE_CONTENT",
                                                            "TOO_MANY_REQUESTS",
                                                            "CLIENT_CLOSED_REQUEST"
                                                        ]
                                                    },
                                                    "details": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "details"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "success",
                                            "trace_id"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/tg/get-url": {
                "post": {
                    "operationId": "mutation.buyCryptoTg.getUrl",
                    "summary": "tg/get-url",
                    "description": "Test",
                    "tags": [
                        "tg"
                    ],
                    "security": [
                        {
                            "Basic": [],
                            "KeyId": [],
                            "Signature": []
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "payment_profile": {
                                            "type": "string"
                                        },
                                        "client_operation_id": {
                                            "type": "string"
                                        },
                                        "crypto_address": {
                                            "type": "string"
                                        },
                                        "crypto_amount": {
                                            "type": "string",
                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                            "example": "10.00"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "tg_id": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "email_verified": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "tg_id"
                                            ]
                                        },
                                        "memo": {
                                            "type": "string"
                                        },
                                        "geo": {
                                            "type": "string"
                                        },
                                        "ref_code": {
                                            "type": "string"
                                        },
                                        "user_can_change_amount": {
                                            "type": "boolean"
                                        },
                                        "user_can_change_address": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "payment_profile",
                                        "client_operation_id",
                                        "crypto_address",
                                        "crypto_amount",
                                        "user"
                                    ],
                                    "example": {
                                        "payment_profile": "example",
                                        "client_operation_id": "123",
                                        "crypto_address": "EXAMPLE",
                                        "crypto_amount": "10.00",
                                        "user": {
                                            "tg_id": "123"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parameters": [],
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "trace_id": {
                                                "type": "string"
                                            },
                                            "result": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "reference_id": {
                                                        "type": "string"
                                                    },
                                                    "launch_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "iframe",
                                                            "new_window"
                                                        ]
                                                    },
                                                    "kyc_status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "approved",
                                                            "rejected",
                                                            "none"
                                                        ]
                                                    },
                                                    "user_stats": {
                                                        "type": "string",
                                                        "enum": [
                                                            "present",
                                                            "not_present",
                                                            "unknown"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "reference_id"
                                                ]
                                            },
                                            "error": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "enum": [
                                                            "PARSE_ERROR",
                                                            "BAD_REQUEST",
                                                            "INTERNAL_SERVER_ERROR",
                                                            "NOT_IMPLEMENTED",
                                                            "UNAUTHORIZED",
                                                            "FORBIDDEN",
                                                            "NOT_FOUND",
                                                            "METHOD_NOT_SUPPORTED",
                                                            "TIMEOUT",
                                                            "CONFLICT",
                                                            "PRECONDITION_FAILED",
                                                            "PAYLOAD_TOO_LARGE",
                                                            "UNPROCESSABLE_CONTENT",
                                                            "TOO_MANY_REQUESTS",
                                                            "CLIENT_CLOSED_REQUEST"
                                                        ]
                                                    },
                                                    "details": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "details"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "success",
                                            "trace_id"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/common/buttons/get-url": {
                "post": {
                    "operationId": "mutation.buttons.getUrl",
                    "summary": "buttons/get-url",
                    "description": "Get url for buttons frame",
                    "tags": [
                        "common"
                    ],
                    "security": [
                        {
                            "Basic": [],
                            "KeyId": [],
                            "Signature": []
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "merchant_user_entry_point_url": {
                                            "type": "string"
                                        },
                                        "report_metadata": {
                                            "type": "string",
                                            "maxLength": 255,
                                            "description": "max length = 255"
                                        },
                                        "project_id": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "user_id": {
                                                    "type": "string"
                                                },
                                                "user_display_id": {
                                                    "type": "string"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "email_verified": {
                                                    "type": "boolean"
                                                },
                                                "email_verified_at": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "phone_verified": {
                                                    "type": "boolean"
                                                },
                                                "phone_verified_at": {
                                                    "type": "string"
                                                },
                                                "preferred_locale": {
                                                    "type": "string"
                                                },
                                                "preferred_timezone": {
                                                    "type": "string"
                                                },
                                                "profile_country": {
                                                    "type": "string"
                                                },
                                                "current_ip_address": {
                                                    "type": "string"
                                                },
                                                "billing_address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "zip_code": {
                                                            "type": "string"
                                                        },
                                                        "address_line_1": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "country"
                                                    ]
                                                },
                                                "statistics": {
                                                    "type": "object",
                                                    "properties": {
                                                        "registered_at": {
                                                            "type": "string"
                                                        },
                                                        "registration_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "registration_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_retention_traffic_source": {
                                                            "type": "string"
                                                        },
                                                        "total_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "total_withdrawal_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "most_recent_deposit_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_deposit_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_deposit_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawal_at": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_withdrawl_amout": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "most_recent_withdrawl_currency": {
                                                            "type": "string"
                                                        },
                                                        "most_recent_ip_address": {
                                                            "type": "string"
                                                        },
                                                        "card_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "card_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "crypto_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "crypto_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        },
                                                        "apm_deposit_count": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "apm_deposit_amount": {
                                                            "type": "string",
                                                            "pattern": "^[0-9]*[.]?[0-9]*$",
                                                            "example": "10.00"
                                                        }
                                                    }
                                                },
                                                "kyc": {
                                                    "type": "object",
                                                    "properties": {
                                                        "result": {
                                                            "type": "string",
                                                            "enum": [
                                                                "SUCCESS",
                                                                "FAIL"
                                                            ]
                                                        },
                                                        "verification_kind": {
                                                            "default": "NONE",
                                                            "type": "string",
                                                            "enum": [
                                                                "NONE",
                                                                "ID_DOCUMENT",
                                                                "SELFIE"
                                                            ]
                                                        },
                                                        "id_document_kind": {
                                                            "type": "string",
                                                            "enum": [
                                                                "ID_CARD",
                                                                "PASSPORT",
                                                                "DRIVING_LICENSE",
                                                                "RESIDENCE_PERMIT"
                                                            ]
                                                        },
                                                        "id_document_country": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_share_token": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_client_id": {
                                                            "type": "string"
                                                        },
                                                        "sumsub_applicant_id": {
                                                            "type": "string"
                                                        },
                                                        "date_of_verification": {
                                                            "type": "string"
                                                        },
                                                        "full_name": {
                                                            "type": "string"
                                                        },
                                                        "age": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "gender": {
                                                            "type": "string",
                                                            "enum": [
                                                                "MALE",
                                                                "FEMALE"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "result"
                                                    ]
                                                },
                                                "telegram_id": {
                                                    "type": "string"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "user_id"
                                            ]
                                        },
                                        "amount": {
                                            "type": "object",
                                            "properties": {
                                                "amount": {
                                                    "type": "string",
                                                    "pattern": "^[0-9]*[.]?[0-9]*$",
                                                    "example": "10.00"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "amount",
                                                "currency"
                                            ]
                                        },
                                        "url_redirect_success": {
                                            "type": "string"
                                        },
                                        "url_redirect_fail": {
                                            "type": "string"
                                        },
                                        "url_callback": {
                                            "type": "string"
                                        },
                                        "payment_profile": {
                                            "type": "string"
                                        },
                                        "locale": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "metadata": {
                                            "type": "string"
                                        },
                                        "amount_alternatives": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "amount": {
                                                        "type": "string",
                                                        "pattern": "^[0-9]*[.]?[0-9]*$",
                                                        "example": "10.00"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "amount",
                                                    "currency"
                                                ]
                                            }
                                        },
                                        "launch_token": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "user",
                                        "amount",
                                        "payment_profile"
                                    ],
                                    "additionalProperties": true,
                                    "example": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "example",
                                        "project_id": "test_project"
                                    }
                                }
                            }
                        }
                    },
                    "parameters": [],
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "trace_id": {
                                                "type": "string"
                                            },
                                            "result": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "launch_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "iframe",
                                                            "new_window"
                                                        ]
                                                    },
                                                    "kyc_status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "approved",
                                                            "rejected",
                                                            "none"
                                                        ]
                                                    },
                                                    "user_stats": {
                                                        "type": "string",
                                                        "enum": [
                                                            "present",
                                                            "not_present",
                                                            "unknown"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "url"
                                                ]
                                            },
                                            "error": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "enum": [
                                                            "PARSE_ERROR",
                                                            "BAD_REQUEST",
                                                            "INTERNAL_SERVER_ERROR",
                                                            "NOT_IMPLEMENTED",
                                                            "UNAUTHORIZED",
                                                            "FORBIDDEN",
                                                            "NOT_FOUND",
                                                            "METHOD_NOT_SUPPORTED",
                                                            "TIMEOUT",
                                                            "CONFLICT",
                                                            "PRECONDITION_FAILED",
                                                            "PAYLOAD_TOO_LARGE",
                                                            "UNPROCESSABLE_CONTENT",
                                                            "TOO_MANY_REQUESTS",
                                                            "CLIENT_CLOSED_REQUEST"
                                                        ]
                                                    },
                                                    "details": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code",
                                                    "details"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "success",
                                            "trace_id"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/common/cashbox/get-url": {
                "post": {
                    "operationId": "mutation.cashbox.getUrl",
                    "summary": "cashbox/get-url",
                    "description": "Get url for cashbox frame",
                    "tags": [
                        "common"
                    ],
                    "deprecated": true,
                    "security": [
                        {
                            "Basic": [],
                            "KeyId": [],
                            "Signature": []
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "merchant_user_entry_point_url": {
                                            "type": "string"
                                        },
                                        "report_metadata": {
                                            "type": "string",
                                            "maxLength": 255,
                                            "description": "max length = 255"
                                        },
                                        "project_id": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "user_id": {
                                                    "type": "string"
                                                },
                                                "user_display_id": {
                                                    "type": "string"
                                                },
                                                "login": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "email_verified": {
                                                    "type": "boolean"
                                                },
                                                "email_verified_at": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "phone_verified": {
                                                    "type": "boolean"
                                                },
                                                "phone_verified_at": {
                                                    "type": "string"
                                                },
                                                "preferred_locale": {
                                                    "type": "string"
                                                },
                                                "preferred_timezone": {
                                                    "type": "string"
                                                },
                                                "profile_country": {
                                                    "type": "string"
                                                },
                                                "current_ip_address": {
                                                    "type": "string"
                                                },
                                                "billing_address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "zip_code": {
                                                            "type": "string"
                                                        },
                                                        "address_line_1": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
[...]
