{
  "openapi": "3.0.3",
  "info": {
    "title": "Finmar API",
    "version": "3.0.3"
  },
  "externalDocs": {
    "url": "https://finmar.tech/prepare2/docsV3/json"
  },
  "servers": [
    {
      "url": "https://finmar.tech/",
      "description": "Продакшен-сервер"
    },
    {
      "url": "https://sandbox.finmar.tech/",
      "description": "Тестовая среда"
    }
  ],
  "paths": {
    "/prepare2/api/v3/checkout": {
      "post": {
        "tags": [
          "Фиатные платежи"
        ],
        "summary": "Получить страницу оплаты",
        "description": "Генерирует уникальную ссылку для проведения платежной операции",
        "operationId": "checkout",
        "parameters": [],
        "requestBody": {
          "description": "Параметры создания платежной сессии",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_checkout_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ содержит URL платежной страницы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка сервера при обработке запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_500"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "trace_id": "string",
                      "error": {
                        "code": "INTERNAL_SERVER_ERROR",
                        "details": "invalid profile example"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/collector/api/v3/operation": {
      "get": {
        "summary": "Получить операции",
        "description": "Возвращает историю платежных операций с возможностью фильтрации",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Количество возвращаемых операций (по умолчанию 100)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Смещение для пагинации",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Фильтр по статусу операции",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "pending",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ содержит список операций",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка при получении данных",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_500_1"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "v3_checkout_body": {
        "required": [
          "amount",
          "method",
          "payment_profile",
          "user"
        ],
        "type": "object",
        "properties": {
          "merchant_user_entry_point_url": {
            "type": "string",
            "description": "URL для редиректа пользователя после создания операции"
          },
          "report_metadata": {
            "maxLength": 255,
            "type": "string",
            "description": "Идентификатор для финансовой отчетности (макс. 255 символов)"
          },
          "project_id": {
            "type": "string",
            "description": "Идентификатор проекта/мерчанта в системе"
          },
          "operation_display_id": {
            "type": "string",
            "description": "Публичный идентификатор операции для отображения пользователю"
          },
          "user": {
            "$ref": "#/components/schemas/user"
          },
          "amount": {
            "$ref": "#/components/schemas/prepare2apiv3checkout_amount"
          },
          "url_callback": {
            "type": "string",
            "description": "URL для отправки уведомлений о статусе платежа"
          },
          "payment_profile": {
            "type": "string",
            "description": "Платежный профиль (настройки обработки платежа)"
          },
          "locale": {
            "type": "string",
            "description": "Язык интерфейса (например: ru, en)",
            "example": "ru"
          },
          "description": {
            "type": "string",
            "description": "Описание платежа для отображения пользователю"
          },
          "metadata": {
            "type": "string",
            "description": "Дополнительные метаданные в формате JSON-строки"
          },
          "amount_alternatives": {
            "type": "array",
            "description": "Альтернативные суммы для выбора пользователем",
            "items": {
              "$ref": "#/components/schemas/prepare2apiv3checkout_amount"
            }
          },
          "method": {
            "type": "string",
            "description": "Выбранный платежный метод",
            "enum": [
              "card",
              "googlepay",
              "applepay",
              "blik",
              "openbanking",
              "volt"
            ]
          }
        },
        "additionalProperties": true,
        "example": {
          "user": {
            "user_id": "123"
          },
          "amount": {
            "amount": "10.00",
            "currency": "USD"
          },
          "payment_profile": "sandbox",
          "project_id": "check",
          "method": "card"
        }
      },
      "inline_response_200_result": {
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Сгенерированный URL платежной страницы"
          }
        },
        "additionalProperties": true
      },
      "user_kyc": {
        "required": [
          "result"
        ],
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "Результат верификации: SUCCESS или FAIL",
            "enum": [
              "SUCCESS",
              "FAIL"
            ]
          },
          "verification_kind": {
            "type": "string",
            "description": "Тип проведенной верификации",
            "default": "NONE",
            "enum": [
              "NONE",
              "ID_DOCUMENT",
              "SELFIE"
            ]
          },
          "id_document_kind": {
            "type": "string",
            "description": "Тип документа при верификации",
            "enum": [
              "ID_CARD",
              "PASSPORT",
              "DRIVING_LICENSE",
              "RESIDENCE_PERMIT"
            ]
          },
          "id_document_country": {
            "type": "string",
            "description": "Страна выдачи документа (ISO-код)"
          },
          "sumsub_share_token": {
            "type": "string",
            "description": "Токен доступа к данным верификации в Sumsub"
          },
          "sumsub_client_id": {
            "type": "string",
            "description": "Идентификатор клиента в системе Sumsub"
          },
          "sumsub_applicant_id": {
            "type": "string",
            "description": "Идентификатор аппликанта в Sumsub"
          }
        },
        "description": "Данные о прохождении KYC-проверки"
      },
      "user_billing_address": {
        "required": [
          "country"
        ],
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Страна (ISO-код)"
          },
          "state": {
            "type": "string",
            "description": "Регион/область"
          },
          "city": {
            "type": "string",
            "description": "Город"
          },
          "zip_code": {
            "type": "string",
            "description": "Почтовый индекс"
          },
          "address_line_1": {
            "type": "string",
            "description": "Адресная строка 1"
          }
        },
        "description": "Платежный адрес пользователя"
      },
      "user": {
        "required": [
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Уникальный идентификатор пользователя в системе партнера"
          },
          "user_display_id": {
            "type": "string",
            "description": "Отображаемое имя/идентификатор пользователя"
          },
          "login": {
            "type": "string",
            "description": "Логин пользователя"
          },
          "email": {
            "type": "string",
            "description": "Контактный email"
          },
          "email_verified": {
            "type": "boolean",
            "description": "Флаг подтверждения email"
          },
          "email_verified_at": {
            "type": "string",
            "description": "Дата подтверждения email (ISO 8601)"
          },
          "phone": {
            "type": "string",
            "description": "Номер телефона в международном формате"
          },
          "phone_verified": {
            "type": "boolean",
            "description": "Флаг подтверждения телефона"
          },
          "phone_verified_at": {
            "type": "string",
            "description": "Дата подтверждения телефона (ISO 8601)"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Предпочитаемый язык (например: ru_RU)"
          },
          "preferred_timezone": {
            "type": "string",
            "description": "Часовой пояс (например: Europe/Moscow)"
          },
          "profile_country": {
            "type": "string",
            "description": "Страна профиля (ISO-код)"
          },
          "current_ip_address": {
            "type": "string",
            "description": "Текущий IP-адрес пользователя"
          },
          "billing_address": {
            "$ref": "#/components/schemas/user_billing_address"
          },
          "statistics": {
            "$ref": "#/components/schemas/user_statistics"
          },
          "kyc": {
            "$ref": "#/components/schemas/user_kyc"
          },
          "telegram_id": {
            "type": "string",
            "description": "ID пользователя в Telegram"
          }
        },
        "description": "Модель данных пользователя"
      },
      "inline_response_200_1": {
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Флаг успешного выполнения запроса"
          },
          "trace_id": {
            "type": "string",
            "description": "Идентификатор трассировки для диагностики"
          },
          "result": {
            "type": "array",
            "description": "Список операций (массив идентификаторов)",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Ответ на запрос списка операций"
      },
      "inline_response_500_1": {
        "required": [
          "error",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Всегда false при ошибках"
          },
          "trace_id": {
            "type": "string",
            "description": "Идентификатор трассировки ошибки"
          },
          "error": {
            "$ref": "#/components/schemas/inline_response_error"
          }
        },
        "description": "Формат ответа при ошибке 5xx"
      },
      "user_statistics": {
        "type": "object",
        "properties": {
          "registered_at": {
            "type": "string",
            "description": "Дата регистрации пользователя (ISO 8601)"
          },
          "registration_ip_address": {
            "type": "string",
            "description": "IP-адрес при регистрации"
          },
          "registration_traffic_source": {
            "type": "string",
            "description": "Источник трафика регистрации"
          },
          "most_recent_retention_at": {
            "type": "string",
            "description": "Дата последнего возврата пользователя"
          },
          "most_recent_retention_ip_address": {
            "type": "string",
            "description": "IP последнего возврата"
          },
          "most_recent_retention_traffic_source": {
            "type": "string",
            "description": "Источник трафика последнего возврата"
          },
          "total_deposit_count": {
            "type": "number",
            "description": "Общее количество депозитов"
          },
          "total_withdrawal_count": {
            "type": "number",
            "description": "Общее количество выводов"
          },
          "most_recent_deposit_at": {
            "type": "string",
            "description": "Дата последнего депозита"
          },
          "most_recent_withdrawal_at": {
            "type": "string",
            "description": "Дата последнего вывода"
          },
          "most_recent_ip_address": {
            "type": "string",
            "description": "IP последней активности"
          },
          "card_deposit_count": {
            "type": "number",
            "description": "Количество депозитов по картам"
          }
        },
        "description": "Статистика активности пользователя"
      },
      "inline_response_200": {
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Флаг успешного выполнения"
          },
          "trace_id": {
            "type": "string",
            "description": "Идентификатор трассировки запроса"
          },
          "result": {
            "$ref": "#/components/schemas/inline_response_200_result"
          }
        },
        "description": "Успешный ответ API"
      },
      "inline_response_error": {
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Код ошибки",
            "enum": [
              "PARSE_ERROR",
              "BAD_REQUEST",
              "INTERNAL_SERVER_ERROR",
              "NOT_IMPLEMENTED",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "METHOD_NOT_SUPPORTED",
              "TIMEOUT",
              "CONFLICT",
              "PRECONDITION_FAILED",
              "PAYLOAD_TOO_LARGE",
              "UNPROCESSABLE_CONTENT",
              "TOO_MANY_REQUESTS",
              "CLIENT_CLOSED_REQUEST"
            ]
          },
          "details": {
            "type": "string",
            "description": "Детализированное описание ошибки"
          }
        },
        "description": "Модель ошибки API"
      },
      "prepare2apiv3checkout_amount": {
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "pattern": "^[0-9]*[.]?[0-9]*$",
            "type": "string",
            "description": "Сумма платежа",
            "example": "10.00"
          },
          "currency": {
            "type": "string",
            "description": "Валюта платежа (ISO-код)",
            "example": "EUR"
          }
        },
        "description": "Модель денежной суммы"
      },
      "inline_response_500": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/inline_response_500_error"
          }
        },
        "x-examples": {
          "Example 1": {
            "success": true,
            "trace_id": "string",
            "error": {
              "code": "PARSE_ERROR",
              "details": "string"
            }
          }
        }
      },
      "inline_response_500_error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Basic": {
        "type": "http",
        "description": "Базовая HTTP-аутентификация",
        "scheme": "basic"
      }
    }
  }
}