{
    "openapi": "3.0.1",
    "info": {
        "title": "Finmar API",
        "version": "1"
    },
    "externalDocs": {
        "url": "https://finmar.tech/prepare2/docsV3/json"
    },
    "servers": [
        {
            "url": "https://sandbox.finmar.tech/"
        }
    ],
    "paths": {
        "/prepare2/api/v3/checkout": {
            "post": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Получить страницу оплаты",
                "description": "Получить ссылку на страницу оплаты",
                "operationId": "checkout",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/v3_checkout_body"
                            },
                            "examples": {
                                "Банковская карта. Ввод в фрейме.": {
                                    "value": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "preview",
                                        "method": "card"
                                    }
                                },
                                "Банковская карта в запросе": {
                                    "value": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "bank_card": {
                                            "cardholder": "NAME FNAME",
                                            "cvv": "190",
                                            "pan": "4111111111111111",
                                            "expiration_month": 11,
                                            "expiration_year": 29
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "check",
                                        "method": "card"
                                    }
                                },
                                "Google Pay": {
                                    "value": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "preview",
                                        "method": "googlepay"
                                    }
                                },
                                "Apple Pay": {
                                    "value": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "preview",
                                        "method": "applepay"
                                    }
                                },
                                "Blik": {
                                    "value": {
                                        "user": {
                                            "user_id": "123"
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "preview",
                                        "method": "blik"
                                    }
                                },
                                "Widget": {
                                    "value": {
                                        "user": {
                                            "user_id": "123",
                                            "kyc": {
                                                "result": "SUCCESS",
                                                "sumsub_share_token": "_act-jwt-eyJhbGciOiJub25lIn0.eyJqdGkiOiJfYWN0LTAxNjY3NWRjLWM3YmMtNDYyYS04YmZmLWY5YTc2OTYyZGE3ZiIsInVybCI6Imh0dHBzOi8vYXBpLnN1bXN1Yi5jb20ifQ."
                                            },
                                            "phone": "77778199718",
                                            "phone_verified": false,
                                            "preferred_locale": "en-AU",
                                            "profile_country": "AU",
                                            "statistics": {
                                                "registered_at": "2023-03-20",
                                                "total_deposit_count": 695,
                                                "total_withdrawal_count": 14
                                            }
                                        },
                                        "amount": {
                                            "amount": "10.00",
                                            "currency": "USD"
                                        },
                                        "payment_profile": "sandbox",
                                        "project_id": "preview",
                                        "method": "widget"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inline_response_200"
                                },
                                "examples": {
                                    "Успешное создание операции": {
                                        "value": {
                                            "success": true,
                                            "result": {
                                                "url": "https://crypto.cheipho.com/payment-front/d7145622-db72-4b7d-99a1-97236645f8f5",
                                                "reference_id": "60531ee8-08aa-459c-80c5-a93e633a7c8b"
                                            },
                                            "trace_id": "9e57f9dd838a411891c1ace140d210f3"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inline_response_500_1"
                                },
                                "examples": {
                                    "INTERNAL_SERVER_ERROR": {
                                        "value": {
                                            "success": false,
                                            "error": {
                                                "details": "invalid profile prod2uction",
                                                "code": "INTERNAL_SERVER_ERROR"
                                            },
                                            "trace_id": "7779d44153254e49a884790a70d3fc05"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ]
            }
        },
        "/collector/api/v3/operation": {
            "get": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Получить операции",
                "description": "Получить список операций",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Operation"
                                },
                                "examples": {
                                    "Success responce": {
                                        "value": {
                                            "operation_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "client_operation_id": "16818595465",
                                            "service": "buy-crypto-2",
                                            "service_env": "prod-gp1",
                                            "project": "preview",
                                            "project_env": "prod",
                                            "user_id": "214796231",
                                            "ip_addr": "164.92.211.113",
                                            "create_params": {
                                                "user": {
                                                    "user_id": "214796231"
                                                },
                                                "amount": {
                                                    "amount": "100.00",
                                                    "currency": "EUR"
                                                },
                                                "method": "card",
                                                "url_callback": "https://vima.requestcatcher.com/?cb",
                                                "payment_profile": "checkout",
                                                "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                "client_operation_id": "16818595465",
                                                "url_redirect_success": "https://vima.requestcatcher.com/?cbsuccess"
                                            },
                                            "current_status": "success",
                                            "payment_product": "widget_card",
                                            "payment_method_type": "fiat",
                                            "payment_method_code": "bank_card",
                                            "operation_state": "complete",
                                            "rates": {
                                                "EUR-AUD": 1.7941231489426956,
                                                "EUR-CAD": 1.602763637553463,
                                                "EUR-USD": 1.169150331688
                                            },
                                            "credentials_owner": "preview",
                                            "integration_type": "direct",
                                            "operation_created_at": "2025-07-09T13:19:16.904Z",
                                            "operation_modified_at": "2025-07-09T13:20:33.138Z",
                                            "card_start": [
                                                {
                                                    "oper_type": "deposit",
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "kyc_verification": 0,
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "created_at": "2025-07-09 13:19:34.587000",
                                                    "modified_at": "2025-07-09 13:19:34.656000"
                                                }
                                            ],
                                            "card_info": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "status": [
                                                        "ok"
                                                    ],
                                                    "card_number": "416293......1620",
                                                    "pan_token": "pan_9z8haj85vf1j62d5dgko4obh1qqqo4ew",
                                                    "created_at": "2025-07-09 13:20:15.588000",
                                                    "modified_at": "2025-07-09 13:20:15.657000",
                                                    "payment_method_id": null,
                                                    "payment_system_id": null,
                                                    "payment_method_name": null,
                                                    "payment_system_name": null,
                                                    "payment_method_route_name": null,
                                                    "payment_system_route_method": null
                                                }
                                            ],
                                            "card_finish": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "card_number": "416293......1620",
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "charged_currency": "EUR",
                                                    "charged_amount": 100,
                                                    "charged_fee": 0,
                                                    "result": "success",
                                                    "mcc_code": 0,
                                                    "is_3d_secure_attempted": 1,
                                                    "created_at": "2025-07-09 13:20:25.602000",
                                                    "modified_at": "2025-07-09 13:20:25.693000"
                                                }
                                            ],
                                            "callbacks": [
                                                {
                                                    "state": {
                                                        "cardForm": true,
                                                        "cryptoStart": true,
                                                        "cardAccepted": true,
                                                        "cryptoFinish": true,
                                                        "donorHasFunds": true
                                                    },
                                                    "result": "complete",
                                                    "ack_key": "46a2bfe630fc49bebb9fa77715ca45d4",
                                                    "payload": {
                                                        "card": {
                                                            "charged": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "initial": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "oper_type": "deposit",
                                                            "requested": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "payment_method": "125_sgate",
                                                            "requested_changed": false,
                                                            "initial_chyment_anged": false,
                                                            "is_3d_secure_attempted": true
                                                        },
                                                        "meta": {
                                                            "user": {
                                                                "user_id": "214796231"
                                                            },
                                                            "amount": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "method": "card",
                                                            "url_callback": "https://vima.requestcatcher.com/?cb",
                                                            "payment_profile": "checkout",
                                                            "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                            "client_operation_id": "16818595462",
                                                            "url_redirect_success": "https://vima.requestcatcher.com/success"
                                                        },
                                                        "rates": {
                                                            "EUR-AUD": 1.7941231489426956,
                                                            "EUR-CAD": 1.602763637553463,
                                                            "EUR-USD": 1.169150331688
                                                        },
                                                        "result": "complete",
                                                        "deposit": {
                                                            "amount": "100.00",
                                                            "currency": "EUR"
                                                        },
                                                        "user_id": "214796231",
                                                        "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                                        "current_status": "success",
                                                        "payment_product": "widget_card",
                                                        "client_operation_id": "16818595465",
                                                        "payment_custom_data": {
                                                            "name": "bank_card"
                                                        },
                                                        "payment_method_code": "bank_card",
                                                        "payment_method_type": "fiat"
                                                    },
                                                    "internal": 0,
                                                    "created_at": "2025-07-09 13:20:25.611000",
                                                    "modified_at": "2025-07-09 13:20:26.915000",
                                                    "send_result": "success",
                                                    "callback_url": "https://vima.requestcatcher.com/?cb",
                                                    "send_failure": null,
                                                    "error_details": null,
                                                    "confirm_refill": 0
                                                }
                                            ],
                                            "complete_amount": 100,
                                            "complete_currency": "EUR",
                                            "complete_created_at": "2025-07-09T13:20:25.611Z",
                                            "complete_modified_at": "2025-07-09T13:20:26.091Z",
                                            "callback_internal": false,
                                            "operation_create_id": "957025798895947776",
                                            "operation_update_id": "957026309997056000",
                                            "payment_status": "success",
                                            "payment_status_flag": {
                                                "user_input_required": false,
                                                "in_process": false,
                                                "success": true,
                                                "fail": false
                                            },
                                            "payment_custom_data": {
                                                "name": "bank_card"
                                            }
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad_apikey"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "2XX": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "uniqueItems": false,
                            "minItems": 1,
                            "maxItems": 100,
                            "example": "3b957930-773e-4097-99fc-9a0b0dd80577"
                        },
                        "in": "query",
                        "name": "reference_id",
                        "explode": false,
                        "description": "Идентификатор операции присвоенный сервисом"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minItems": 1,
                            "maxItems": 1199,
                            "example": "15887785428"
                        },
                        "in": "query",
                        "name": "client_operation_id",
                        "description": "Идентификатор операции вызывающей стороны"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "preview"
                        },
                        "in": "query",
                        "name": "project_id",
                        "description": "Идентификатор проекта"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user_input_required",
                                "in_process",
                                "success",
                                "fail"
                            ],
                            "example": "success"
                        },
                        "in": "query",
                        "name": "status",
                        "description": "Статус операции"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fiat",
                                "crypto"
                            ]
                        },
                        "in": "query",
                        "name": "payment_method_type",
                        "description": "Тип платёжного метода"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "credentials_owner",
                        "description": "Владелец ключей"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_create_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при создании операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_update_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при каждом обновлении операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "count",
                        "description": "Количество операций в ответе"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "in_process",
                                "wait_client_operation_id",
                                "wait_operation_ack_id",
                                "complete"
                            ]
                        },
                        "in": "query",
                        "name": "operation_state",
                        "description": "Состояние операции. Вспомогательный параметр. Не путать со статусом."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "descending",
                        "description": "Обратная сотировка"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-07-07"
                        },
                        "in": "query",
                        "name": "date",
                        "description": "Дата в формате YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-01"
                        },
                        "in": "query",
                        "name": "from",
                        "description": "Дата начала периода YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-10"
                        },
                        "in": "query",
                        "name": "to",
                        "description": "Дата  окончания периода YYYY-MM-DD"
                    }
                ]
            }
        },
        "/collector/api/v3/client_unconfirmed_success_payments": {
            "get": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Получить успешные неподтверждённые операции",
                "description": "Получить все **успешные**, неподтверждённые операции",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Operation"
                                },
                                "examples": {
                                    "Success responce": {
                                        "value": {
                                            "operation_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "client_operation_id": "16818595465",
                                            "service": "buy-crypto-2",
                                            "service_env": "prod-gp1",
                                            "project": "preview",
                                            "project_env": "prod",
                                            "user_id": "214796231",
                                            "ip_addr": "164.92.211.113",
                                            "create_params": {
                                                "user": {
                                                    "user_id": "214796231"
                                                },
                                                "amount": {
                                                    "amount": "100.00",
                                                    "currency": "EUR"
                                                },
                                                "method": "card",
                                                "url_callback": "https://vima.requestcatcher.com/?cb",
                                                "payment_profile": "checkout",
                                                "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                "client_operation_id": "16818595465",
                                                "url_redirect_success": "https://vima.requestcatcher.com/?cbsuccess"
                                            },
                                            "current_status": "success",
                                            "payment_product": "widget_card",
                                            "payment_method_type": "fiat",
                                            "payment_method_code": "bank_card",
                                            "operation_state": "complete",
                                            "rates": {
                                                "EUR-AUD": 1.7941231489426956,
                                                "EUR-CAD": 1.602763637553463,
                                                "EUR-USD": 1.169150331688
                                            },
                                            "credentials_owner": "preview",
                                            "integration_type": "direct",
                                            "operation_created_at": "2025-07-09T13:19:16.904Z",
                                            "operation_modified_at": "2025-07-09T13:20:33.138Z",
                                            "card_start": [
                                                {
                                                    "oper_type": "deposit",
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "kyc_verification": 0,
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "created_at": "2025-07-09 13:19:34.587000",
                                                    "modified_at": "2025-07-09 13:19:34.656000"
                                                }
                                            ],
                                            "card_info": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "status": [
                                                        "ok"
                                                    ],
                                                    "card_number": "416293......1620",
                                                    "pan_token": "pan_9z8haj85vf1j62d5dgko4obh1qqqo4ew",
                                                    "created_at": "2025-07-09 13:20:15.588000",
                                                    "modified_at": "2025-07-09 13:20:15.657000",
                                                    "payment_method_id": null,
                                                    "payment_system_id": null,
                                                    "payment_method_name": null,
                                                    "payment_system_name": null,
                                                    "payment_method_route_name": null,
                                                    "payment_system_route_method": null
                                                }
                                            ],
                                            "card_finish": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "card_number": "416293......1620",
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "charged_currency": "EUR",
                                                    "charged_amount": 100,
                                                    "charged_fee": 0,
                                                    "result": "success",
                                                    "mcc_code": 0,
                                                    "is_3d_secure_attempted": 1,
                                                    "created_at": "2025-07-09 13:20:25.602000",
                                                    "modified_at": "2025-07-09 13:20:25.693000"
                                                }
                                            ],
                                            "callbacks": [
                                                {
                                                    "state": {
                                                        "cardForm": true,
                                                        "cryptoStart": true,
                                                        "cardAccepted": true,
                                                        "cryptoFinish": true,
                                                        "donorHasFunds": true
                                                    },
                                                    "result": "complete",
                                                    "ack_key": "46a2bfe630fc49bebb9fa77715ca45d4",
                                                    "payload": {
                                                        "card": {
                                                            "charged": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "initial": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "oper_type": "deposit",
                                                            "requested": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "payment_method": "125_sgate",
                                                            "requested_changed": false,
                                                            "initial_chyment_anged": false,
                                                            "is_3d_secure_attempted": true
                                                        },
                                                        "meta": {
                                                            "user": {
                                                                "user_id": "214796231"
                                                            },
                                                            "amount": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "method": "card",
                                                            "url_callback": "https://vima.requestcatcher.com/?cb",
                                                            "payment_profile": "checkout",
                                                            "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                            "client_operation_id": "16818595462",
                                                            "url_redirect_success": "https://vima.requestcatcher.com/success"
                                                        },
                                                        "rates": {
                                                            "EUR-AUD": 1.7941231489426956,
                                                            "EUR-CAD": 1.602763637553463,
                                                            "EUR-USD": 1.169150331688
                                                        },
                                                        "result": "complete",
                                                        "deposit": {
                                                            "amount": "100.00",
                                                            "currency": "EUR"
                                                        },
                                                        "user_id": "214796231",
                                                        "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                                        "current_status": "success",
                                                        "payment_product": "widget_card",
                                                        "client_operation_id": "16818595465",
                                                        "payment_custom_data": {
                                                            "name": "bank_card"
                                                        },
                                                        "payment_method_code": "bank_card",
                                                        "payment_method_type": "fiat"
                                                    },
                                                    "internal": 0,
                                                    "created_at": "2025-07-09 13:20:25.611000",
                                                    "modified_at": "2025-07-09 13:20:26.915000",
                                                    "send_result": "success",
                                                    "callback_url": "https://vima.requestcatcher.com/?cb",
                                                    "send_failure": null,
                                                    "error_details": null,
                                                    "confirm_refill": 0
                                                }
                                            ],
                                            "complete_amount": 100,
                                            "complete_currency": "EUR",
                                            "complete_created_at": "2025-07-09T13:20:25.611Z",
                                            "complete_modified_at": "2025-07-09T13:20:26.091Z",
                                            "callback_internal": false,
                                            "operation_create_id": "957025798895947776",
                                            "operation_update_id": "957026309997056000",
                                            "payment_status": "success",
                                            "payment_status_flag": {
                                                "user_input_required": false,
                                                "in_process": false,
                                                "success": true,
                                                "fail": false
                                            },
                                            "payment_custom_data": {
                                                "name": "bank_card"
                                            }
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "2XX": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "uniqueItems": false,
                            "minItems": 1,
                            "maxItems": 100,
                            "example": "3b957930-773e-4097-99fc-9a0b0dd80577"
                        },
                        "in": "query",
                        "name": "reference_id",
                        "explode": false,
                        "description": "Идентификатор операции присвоенный сервисом"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "minItems": 1,
                            "maxItems": 1199,
                            "example": "15887785428"
                        },
                        "in": "query",
                        "name": "client_operation_id",
                        "description": "Идентификатор операции вызывающей стороны"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "preview"
                        },
                        "in": "query",
                        "name": "project_id",
                        "description": "Идентификатор проекта"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user_input_required",
                                "in_process",
                                "success",
                                "fail"
                            ],
                            "example": "success"
                        },
                        "in": "query",
                        "name": "status",
                        "description": "Статус операции"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fiat",
                                "crypto"
                            ]
                        },
                        "in": "query",
                        "name": "payment_method_type",
                        "description": "Тип платёжного метода"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "credentials_owner",
                        "description": "Владелец ключей"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_create_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при создании операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_update_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при каждом обновлении операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "count",
                        "description": "Количество операций в ответе"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "descending",
                        "description": "Обратная сотировка"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-07-07"
                        },
                        "in": "query",
                        "name": "date",
                        "description": "Дата в формате YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-01"
                        },
                        "in": "query",
                        "name": "from",
                        "description": "Дата начала периода YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-10"
                        },
                        "in": "query",
                        "name": "to",
                        "description": "Дата  окончания периода YYYY-MM-DD"
                    }
                ],
                "operationId": "client_unconfirmed_success_payments"
            }
        },
        "/collector/api/v3/client_unconfirmed_payments": {
            "get": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Получить все неподтверждённые операции",
                "description": "Получить **все**, неподтверждённые операции",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Operation"
                                },
                                "examples": {
                                    "Success responce": {
                                        "value": {
                                            "operation_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                            "client_operation_id": "16818595465",
                                            "service": "buy-crypto-2",
                                            "service_env": "prod-gp1",
                                            "project": "preview",
                                            "project_env": "prod",
                                            "user_id": "214796231",
                                            "ip_addr": "164.92.211.113",
                                            "create_params": {
                                                "user": {
                                                    "user_id": "214796231"
                                                },
                                                "amount": {
                                                    "amount": "100.00",
                                                    "currency": "EUR"
                                                },
                                                "method": "card",
                                                "url_callback": "https://vima.requestcatcher.com/?cb",
                                                "payment_profile": "checkout",
                                                "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                "client_operation_id": "16818595465",
                                                "url_redirect_success": "https://vima.requestcatcher.com/?cbsuccess"
                                            },
                                            "current_status": "success",
                                            "payment_product": "widget_card",
                                            "payment_method_type": "fiat",
                                            "payment_method_code": "bank_card",
                                            "operation_state": "complete",
                                            "rates": {
                                                "EUR-AUD": 1.7941231489426956,
                                                "EUR-CAD": 1.602763637553463,
                                                "EUR-USD": 1.169150331688
                                            },
                                            "credentials_owner": "preview",
                                            "integration_type": "direct",
                                            "operation_created_at": "2025-07-09T13:19:16.904Z",
                                            "operation_modified_at": "2025-07-09T13:20:33.138Z",
                                            "card_start": [
                                                {
                                                    "oper_type": "deposit",
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "kyc_verification": 0,
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "created_at": "2025-07-09 13:19:34.587000",
                                                    "modified_at": "2025-07-09 13:19:34.656000"
                                                }
                                            ],
                                            "card_info": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "payment_gate": "paymentgate",
                                                    "user_ref": "214796231",
                                                    "status": [
                                                        "ok"
                                                    ],
                                                    "card_number": "416293......1620",
                                                    "pan_token": "pan_9z8haj85vf1j62d5dgko4obh1qqqo4ew",
                                                    "created_at": "2025-07-09 13:20:15.588000",
                                                    "modified_at": "2025-07-09 13:20:15.657000",
                                                    "payment_method_id": null,
                                                    "payment_system_id": null,
                                                    "payment_method_name": null,
                                                    "payment_system_name": null,
                                                    "payment_method_route_name": null,
                                                    "payment_system_route_method": null
                                                }
                                            ],
                                            "card_finish": [
                                                {
                                                    "action_id": "f-082f67de-17cc-4f00-86ab-411224906d58",
                                                    "payment_id": "4df2a4a01dc55b188f4f3914c60f5bf3",
                                                    "card_number": "416293......1620",
                                                    "currency": "EUR",
                                                    "amount": 100,
                                                    "charged_currency": "EUR",
                                                    "charged_amount": 100,
                                                    "charged_fee": 0,
                                                    "result": "success",
                                                    "mcc_code": 0,
                                                    "is_3d_secure_attempted": 1,
                                                    "created_at": "2025-07-09 13:20:25.602000",
                                                    "modified_at": "2025-07-09 13:20:25.693000"
                                                }
                                            ],
                                            "callbacks": [
                                                {
                                                    "state": {
                                                        "cardForm": true,
                                                        "cryptoStart": true,
                                                        "cardAccepted": true,
                                                        "cryptoFinish": true,
                                                        "donorHasFunds": true
                                                    },
                                                    "result": "complete",
                                                    "ack_key": "46a2bfe630fc49bebb9fa77715ca45d4",
                                                    "payload": {
                                                        "card": {
                                                            "charged": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "initial": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "oper_type": "deposit",
                                                            "requested": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "payment_method": "125_sgate",
                                                            "requested_changed": false,
                                                            "initial_chyment_anged": false,
                                                            "is_3d_secure_attempted": true
                                                        },
                                                        "meta": {
                                                            "user": {
                                                                "user_id": "214796231"
                                                            },
                                                            "amount": {
                                                                "amount": "100.00",
                                                                "currency": "EUR"
                                                            },
                                                            "method": "card",
                                                            "url_callback": "https://vima.requestcatcher.com/?cb",
                                                            "payment_profile": "checkout",
                                                            "url_redirect_fail": "https://vima.requestcatcher.com/fail",
                                                            "client_operation_id": "16818595462",
                                                            "url_redirect_success": "https://vima.requestcatcher.com/success"
                                                        },
                                                        "rates": {
                                                            "EUR-AUD": 1.7941231489426956,
                                                            "EUR-CAD": 1.602763637553463,
                                                            "EUR-USD": 1.169150331688
                                                        },
                                                        "result": "complete",
                                                        "deposit": {
                                                            "amount": "100.00",
                                                            "currency": "EUR"
                                                        },
                                                        "user_id": "214796231",
                                                        "reference_id": "082f67de-17cc-4f00-86ab-411224906d58",
                                                        "current_status": "success",
                                                        "payment_product": "widget_card",
                                                        "client_operation_id": "16818595465",
                                                        "payment_custom_data": {
                                                            "name": "bank_card"
                                                        },
                                                        "payment_method_code": "bank_card",
                                                        "payment_method_type": "fiat"
                                                    },
                                                    "internal": 0,
                                                    "created_at": "2025-07-09 13:20:25.611000",
                                                    "modified_at": "2025-07-09 13:20:26.915000",
                                                    "send_result": "success",
                                                    "callback_url": "https://vima.requestcatcher.com/?cb",
                                                    "send_failure": null,
                                                    "error_details": null,
                                                    "confirm_refill": 0
                                                }
                                            ],
                                            "complete_amount": 100,
                                            "complete_currency": "EUR",
                                            "complete_created_at": "2025-07-09T13:20:25.611Z",
                                            "complete_modified_at": "2025-07-09T13:20:26.091Z",
                                            "callback_internal": false,
                                            "operation_create_id": "957025798895947776",
                                            "operation_update_id": "957026309997056000",
                                            "payment_status": "success",
                                            "payment_status_flag": {
                                                "user_input_required": false,
                                                "in_process": false,
                                                "success": true,
                                                "fail": false
                                            },
                                            "payment_custom_data": {
                                                "name": "bank_card"
                                            }
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad_apikey"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "2XX": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "preview"
                        },
                        "in": "query",
                        "name": "project_id",
                        "description": "Идентификатор проекта"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user_input_required",
                                "in_process",
                                "success",
                                "fail"
                            ],
                            "example": "success"
                        },
                        "in": "query",
                        "name": "status",
                        "description": "Статус операции"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "fiat",
                                "crypto"
                            ]
                        },
                        "in": "query",
                        "name": "payment_method_type",
                        "description": "Тип платёжного метода"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "credentials_owner",
                        "description": "Владелец ключей"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_create_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при создании операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "from_operation_update_id",
                        "description": "Можно использовать в качестве курсора. Инкрементное значение выставляется при каждом обновлении операции"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "count",
                        "description": "Количество операций в ответе"
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "descending",
                        "description": "Обратная сотировка"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-07-07"
                        },
                        "in": "query",
                        "name": "date",
                        "description": "Дата в формате YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-01"
                        },
                        "in": "query",
                        "name": "from",
                        "description": "Дата начала периода YYYY-MM-DD"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "2025-07-10"
                        },
                        "in": "query",
                        "name": "to",
                        "description": "Дата  окончания периода YYYY-MM-DD"
                    }
                ],
                "operationId": "client_unconfirmed_payments "
            }
        },
        "/collector/api/v3/client_confirm_payment_by_reference_id": {
            "post": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Подтвердить операцию по reference_id",
                "description": "Подтвердить операцию по reference_id",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "success"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reference_id": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "reference_id": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "client_confirm_payment_by_reference_id"
            }
        },
        "/collector/api/v3/client_confirm_payment_by_client_operation_id": {
            "post": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Подтвердить операцию по client_operation_id",
                "description": "Подтвердить операцию по client_operation_id",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "client_operation_id": "string"
                                    }
                                },
                                "properties": {
                                    "client_operation_id": {
                                        "type": "string",
                                        "x-stoplight": {
                                            "id": "8itc1l2qfzcyg"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "client_confirm_success_payment_by_reference_id"
            }
        },
        "/collector/api/v3/client_confirm_payment_all": {
            "get": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Подтвердить все операции",
                "description": "Подтвердить все операции",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "operationId": "client_confirm_payment_all"
            }
        },
        "/collector/api/v3/client_confirm_success_payment_all": {
            "get": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Подтвердить все успешные операции",
                "description": "Подтвердить все успешные операции",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "operationId": "client_confirm_success_payment_all"
            },
            "parameters": []
        },
        "/collector/api/v3/set_client_operation_id": {
            "post": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Установить client_operation_id по reference_id",
                "description": "Установить client_operation_id по reference_id",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "success"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reference_id": {
                                        "type": "string"
                                    },
                                    "client_operation_id": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "reference_id": "string",
                                        "client_operation_id": "string"
                                    }
                                }
                            },
                            "examples": {
                                "Success": {
                                    "value": {
                                        "reference_id": "129a1d0d-fb3a-4027-8b6c-64c2fd5d2355",
                                        "client_operation_id": "123007887858"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "set_client_operation_id"
            }
        },
        "/collector/api/v3/set_operation_ack_id_by_reference_id": {
            "post": {
                "tags": [
                    "Фиатные платежи"
                ],
                "summary": "Установить operation_ack_id по reference_id",
                "description": "Установить operation_ack_id по reference_id",
                "responses": {
                    "200": {
                        "description": "Ответ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "result": "success"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "result": "success"
                                        }
                                    },
                                    "Bad auth": {
                                        "value": {
                                            "error": "bad auth"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Basic": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reference_id": {
                                        "type": "string",
                                        "description": "Идентификатор операции присвоенный сервисом"
                                    },
                                    "operation_ack_id": {
                                        "type": "string",
                                        "description": "Идентификатор операции для финансовых отчётов"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "reference_id": "string",
                                        "client_operation_id": "string"
                                    }
                                }
                            },
                            "examples": {
                                "Success": {
                                    "value": {
                                        "reference_id": "129a1d0d-fb3a-4027-8b6c-64c2fd5d2355",
                                        "operation_ack_id": "123007887858"
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "set_operation_ack_id_by_reference_id"
            }
        }
    },
    "components": {
        "schemas": {
            "v3_checkout_body": {
                "type": "object",
                "example": {
                    "user": {
                        "user_id": "123"
                    },
                    "amount": {
                        "amount": "10.00",
                        "currency": "USD"
                    },
                    "payment_profile": "sandbox",
                    "project_id": "check",
                    "method": "card"
                },
                "required": [
                    "user",
                    "amount",
                    "payment_profile",
                    "method"
                ],
                "properties": {
                    "report_metadata": {
                        "type": "string",
                        "description": "Идентификатор операции для финансовых отчётов"
                    },
                    "project_id": {
                        "type": "string",
                        "description": "Идентификатор проекта"
                    },
                    "client_operation_id": {
                        "type": "string",
                        "description": "Идентификатор операции вызывающей стороны"
                    },
                    "user": {
                        "$ref": "#/components/schemas/user"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/prepare2apiv3checkout_amount"
                    },
                    "payment_profile": {
                        "type": "string",
                        "description": "Платёжный профиль"
                    },
                    "metadata": {
                        "type": "string",
                        "description": "Произвольные данные, которые вызывающая сторона может прикрепить к платежу. Будут возвращаться в запросах состояния и уведомлениях об изменениях."
                    },
                    "amount_alternatives": {
                        "type": "array",
                        "description": "Альтернативные начальные суммы в других валют",
                        "items": {
                            "$ref": "#/components/schemas/prepare2apiv3checkout_amount"
                        }
                    },
                    "method": {
                        "type": "string",
                        "description": "Платёжный метод",
                        "enum": [
                            "card",
                            "googlepay",
                            "applepay",
                            "blik",
                            "openbanking",
                            "volt",
                            "widget"
                        ]
                    },
                    "url_callback": {
                        "type": "string",
                        "description": "URL для получения обратных вызовов"
                    },
                    "url_redirect_success": {
                        "type": "string",
                        "description": "URL перенаправления в случае успеха"
                    },
                    "url_redirect_fail": {
                        "type": "string",
                        "description": "URL перенаправления в случае неуспеха"
                    },
                    "merchant_user_entry_point_url": {
                        "type": "string",
                        "description": "Точка-входа пользователя при создании операции"
                    }
                }
            },
            "inline_response_200_result": {
                "required": [
                    "url"
                ],
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    }
                },
                "additionalProperties": true
            },
            "user_kyc": {
                "required": [
                    "result"
                ],
                "type": "object",
                "properties": {
                    "result": {
                        "type": "string",
                        "description": "результат проверки - SUCCESS или FAIL",
                        "enum": [
                            "SUCCESS",
                            "FAIL"
                        ]
                    },
                    "verification_kind": {
                        "type": "string",
                        "description": "тип проверки",
                        "default": "NONE",
                        "enum": [
                            "NONE",
                            "ID_DOCUMENT",
                            "SELFIE"
                        ]
                    },
                    "id_document_kind": {
                        "type": "string",
                        "description": "информация об ID-документе (если verification_kind содержит ID_DOCUMENT)",
                        "enum": [
                            "ID_CARD",
                            "PASSPORT",
                            "DRIVING_LICENSE",
                            "RESIDENCE_PERMIT"
                        ]
                    },
                    "id_document_country": {
                        "type": "string"
                    },
                    "sumsub_share_token": {
                        "type": "string"
                    },
                    "sumsub_client_id": {
                        "type": "string",
                        "description": "информация о пользователе на стороне KYC провайдера"
                    },
                    "sumsub_applicant_id": {
                        "type": "string"
                    }
                },
                "description": "информация о прохождении KYC"
            },
            "user_billing_address": {
                "required": [
                    "country"
                ],
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "zip_code": {
                        "type": "string"
                    },
                    "address_line_1": {
                        "type": "string"
                    }
                },
                "description": "адрес плательщика, может передаваться в платежную систему"
            },
            "user": {
                "required": [
                    "user_id"
                ],
                "type": "object",
                "properties": {
                    "user_id": {
                        "type": "string"
                    },
                    "user_display_id": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "description": "контактные данные"
                    },
                    "email_verified": {
                        "type": "boolean"
                    },
                    "email_verified_at": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "phone_verified": {
                        "type": "boolean"
                    },
                    "phone_verified_at": {
                        "type": "string"
                    },
                    "preferred_locale": {
                        "type": "string"
                    },
                    "preferred_timezone": {
                        "type": "string"
                    },
                    "profile_country": {
                        "type": "string",
                        "description": "страна пользователя в профиле на стороне партнера"
                    },
                    "current_ip_address": {
                        "type": "string",
                        "description": "текущий IP адрес пользователя"
                    },
                    "billing_address": {
                        "$ref": "#/components/schemas/user_billing_address"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/user_statistics"
                    },
                    "kyc": {
                        "$ref": "#/components/schemas/user_kyc"
                    },
                    "telegram_id": {
                        "type": "string"
                    }
                }
            },
            "Operation": {
                "type": "object",
                "properties": {
                    "operation_id": {
                        "type": "string",
                        "deprecated": true,
                        "format": "uuid",
                        "description": "Уникальный идентификатор операции.",
                        "example": "082f67de-17cc-4f00-86ab-411224906d58"
                    },
                    "reference_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Идентификатор операции присвоенный сервисом",
                        "example": "082f67de-17cc-4f00-86ab-411224906d58"
                    },
                    "client_operation_id": {
                        "type": "string",
                        "description": "Идентификатор операции вызывающей стороны.",
                        "example": "16818595465"
                    },
                    "service": {
                        "type": "string",
                        "deprecated": true,
                        "description": "Название сервиса.",
                        "example": "buy-crypto-2"
                    },
                    "service_env": {
                        "type": "string",
                        "deprecated": true,
                        "description": "Окружение сервиса.",
                        "example": "prod-gp1"
                    },
                    "project": {
                        "type": "string",
                        "description": "Название проекта.",
                        "example": "preview"
                    },
                    "project_env": {
                        "type": "string",
                        "deprecated": true,
                        "description": "Окружение проекта.",
                        "example": "prod"
                    },
                    "user_id": {
[...]
