{
  "openapi": "3.0.1",
  "info": {
  "title": "Withdrawal card API",
  "version": "2.0",
  "description": "Карточное Withdrawal API v2 для создания, запуска и отслеживания выплат на банковские карты."
  },
  "servers": [
    {
      "url": "https://crypto.sopogai.com",
      "description": "This server"
    }
  ],
  "paths": {
    "/public/api/withdraw/card/v2/check_health": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Проверка состояния сервиса вывода на карты.",
      "description": "Используется для проверки доступности API и корректности учётных данных.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardCheckHealthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardCheckHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/get_balance": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Возвращает текущую информацию о доступном балансе для выплат.",
      "description": "Позволяет получить общий доступный баланс и распределение по источникам ликвидности.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardGetBalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardGetBalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/create_operation": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Создаёт новую операцию вывода на карту или возвращает её текущее состояние.",
      "description": "Источник ликвидности выбирается автоматически. Исполнение не начинается, пока не вызван метод start_operation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardCreateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/create_operation_using_explicit_source": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Создаёт операцию вывода на карту с явным источником ликвидности или возвращает её текущее состояние.",
      "description": "Для исполнения используется явно указанный liquidity_source_id. Исполнение не начинается, пока не вызван метод start_operation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardCreateExplicitSourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardCreateExplicitSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/get_operation_state": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Возвращает текущее состояние операции по client_operation_id.",
      "description": "Используется для получения актуального статуса выплаты.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardGetOperationStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardGetOperationStateResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/start_operation": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Запускает исполнение ранее созданной операции вывода.",
      "description": "Переводит операцию из состояния ожидания запуска в обработку. При некорректном состоянии возвращает ошибку UNACCEPTABLE_COMMAND.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardStartOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {    
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardStartOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/abort_operation": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Пытается отменить выполнение операции, если это ещё возможно.",
      "description": "При успешной отмене операция завершится со статусом FAILURE или PARTIAL_SUCCESS. Код ACCEPTED_WITHOUT_OBLIGATIONS означает, что отмена зависит от результата на стороне провайдера.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardAbortOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardAbortOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/open_operation_user_input": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Возвращает параметры участия пользователя и ссылку для ввода данных.",
      "description": "Используется для сценариев, где требуется дополнительное действие пользователя (например, 3‑D Secure).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardOpenUserInputRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardOpenUserInputResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/public/api/withdraw/card/v2/confirm_operation": {
    "post": {
      "tags": [
      "WithdrawCard"
      ],
      "summary": "Подтверждает обработку завершённой операции на стороне партнёра.",
      "description": "Переводит операцию в финальное состояние COMPLETE_CONFIRMED.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardConfirmOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCardConfirmOperationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
    "BankCardInfoApiView": {
      "description": "Токенизированные реквизиты банковской карты получателя.",
        "required": [
          "bin6",
          "card_token",
          "expiration_month",
          "expiration_year",
          "last_four_digits",
          "pan_token"
        ],
        "type": "object",
        "properties": {
          "pan_token": {
            "minLength": 1,
            "type": "string"
          },
          "card_token": {
            "minLength": 1,
            "type": "string"
          },
          "bin6": {
            "minLength": 1,
            "type": "string"
          },
          "last_four_digits": {
            "minLength": 1,
            "type": "string"
          },
          "expiration_month": {
            "minLength": 1,
            "type": "string"
          },
          "expiration_year": {
            "minLength": 1,
            "type": "string"
          },
          "network": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "issuer": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "BankCardInputApiView": {
      "description": "Открытые реквизиты банковской карты, передаваемые в запросе.",
        "required": [
          "cardholder",
          "expiration_month",
          "expiration_year",
          "pan"
        ],
        "type": "object",
        "properties": {
          "pan": {
            "minLength": 1,
            "type": "string"
          },
          "cardholder": {
            "minLength": 1,
            "type": "string"
          },
          "expiration_month": {
            "type": "integer",
            "format": "int32"
          },
          "expiration_year": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
    "CardWithdrawalOperationStateApiView": {
      "description": "Полное состояние операции вывода на карту.",
        "required": [
          "bank_card",
          "client_operation_id",
          "created_at",
          "disallow_end_user_interaction",
          "disallow_transaction_split",
          "operation_id",
          "operation_status",
          "order_amount",
          "project_id",
          "reference_id",
          "updated_at",
          "version"
        ],
        "type": "object",
        "properties": {
          "operation_id": {
            "minLength": 1,
            "type": "string"
          },
          "project_id": {
            "minLength": 1,
            "type": "string"
          },
          "client_operation_id": {
            "minLength": 1,
            "type": "string"
          },
          "reference_id": {
            "minLength": 1,
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "order_amount": {
            "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
          },
          "explicit_liquidity_source_id": {
            "type": "string",
            "nullable": true
          },
          "order_amount_alternatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
            },
            "nullable": true
          },
          "bank_card": {
            "$ref": "#/components/schemas/BankCardInfoApiView"
          },
          "url_callback": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "report_metadata": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          },
          "disallow_end_user_interaction": {
            "type": "boolean"
          },
          "disallow_transaction_split": {
            "type": "boolean"
          },
          "operation_status": {
            "enum": [
              "PREPARING",
              "UNPROCESSABLE",
              "START_WAIT",
              "START_REJECTED",
              "PROCESSING",
              "USER_INPUT",
              "COMPLETE",
              "COMPLETE_CONFIRMED"
            ],
            "type": "string",
            "format": "enum",
            "example": "PREPARING"
          },
          "execution_suspended": {
            "type": "boolean"
          },
          "result_status": {
            "enum": [
              "SUCCESS",
              "PARTIAL_SUCCESS",
              "FAILURE"
            ],
            "type": "string",
            "format": "enum",
            "nullable": true,
            "example": "SUCCESS"
          },
          "transferred_total_amount": {
            "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
          },
          "failure_details": {
            "$ref": "#/components/schemas/WithdrawalFailureApiView"
          }
        },
        "additionalProperties": false
      },
    "FiatCurrencyAmountApiView": {
      "description": "Сумма в фиатной валюте.",
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "currency": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string"
          },
          "amount": {
            "type": "string",
            "format": "decimal",
            "default": "0",
            "example": "12.34"
          }
        },
        "additionalProperties": false
      },
    "UserApiView": {
      "description": "Информация о конечном пользователе.",
        "required": [
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "user_display_id": {
            "type": "string",
            "nullable": true
          },
          "login": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "email_verified": {
            "type": "boolean",
            "nullable": true
          },
          "email_verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "phone_verified": {
            "type": "boolean",
            "nullable": true
          },
          "phone_verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "preferred_locale": {
            "type": "string",
            "nullable": true
          },
          "preferred_timezone": {
            "type": "string",
            "nullable": true
          },
          "profile_country": {
            "type": "string",
            "nullable": true
          },
          "current_ip_address": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "UserInputParametersApiView": {
      "description": "Параметры участия пользователя и ссылки для перехода.",
        "required": [
          "concurrency_stamp",
          "requested_at",
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "minLength": 1,
            "type": "string"
          },
          "concurrency_stamp": {
            "minLength": 1,
            "type": "string"
          },
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "url_redirect": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardAbortOperationErrorCodeApiError": {
      "description": "Структура ошибки для метода abort_operation.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "OPERATION_NOT_FOUND",
              "UNACCEPTABLE_COMMAND",
              "ACCEPTED_WITHOUT_OBLIGATIONS"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardAbortOperationRequest": {
      "description": "Параметры запроса на отмену операции.",
        "required": [
          "client_operation_id"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardAbortOperationResponse": {
      "description": "Ответ метода отмены операции.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardAbortOperationErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardAbortOperationResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardAbortOperationResult": {
      "description": "Результат отмены операции с её актуальным состоянием.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCheckHealthErrorCodeApiError": {
      "description": "Структура ошибки для метода check_health.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "DEGRADED"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCheckHealthRequest": {
      "description": "Тело запроса для проверки состояния сервиса (пустой объект).",
        "type": "object",
        "additionalProperties": false
      },
    "WithdrawCardCheckHealthResponse": {
      "description": "Ответ проверки состояния сервиса.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardCheckHealthErrorCodeApiError"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardConfirmOperationErrorCodeApiError": {
      "description": "Структура ошибки для метода confirm_operation.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "OPERATION_NOT_FOUND",
              "UNACCEPTABLE_COMMAND"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardConfirmOperationRequest": {
      "description": "Параметры подтверждения завершённой операции.",
        "required": [
          "client_operation_id"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "operation_ack_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardConfirmOperationResponse": {
      "description": "Ответ метода подтверждения операции.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardConfirmOperationErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardConfirmOperationResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardConfirmOperationResult": {
      "description": "Результат подтверждения операции с её актуальным состоянием.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateErrorCodeApiError": {
      "description": "Структура ошибки для метода create_operation.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "AMBIGUOUS_PARAMETERS",
              "UNSUPPORTED_CURRENCY",
              "UNSUPPORTED_PROFILE"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateExplicitSourceErrorCodeApiError": {
      "description": "Структура ошибки для метода create_operation_using_explicit_source.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "AMBIGUOUS_PARAMETERS",
              "SOURCE_NOT_FOUND",
              "UNSUPPORTED_CURRENCY"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateExplicitSourceRequest": {
      "description": "Параметры создания операции вывода с явным источником ликвидности.",
        "required": [
          "bank_card",
          "client_operation_id",
          "liquidity_source_id",
          "order_amount",
          "user"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserApiView"
          },
          "bank_card": {
            "$ref": "#/components/schemas/BankCardInputApiView"
          },
          "liquidity_source_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "order_amount": {
            "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
          },
          "url_callback": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "report_metadata": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          },
          "merchant_user_entry_point_url": {
            "maxLength": 128,
            "type": "string",
            "nullable": true
          },
          "disallow_end_user_interaction": {
            "type": "boolean",
            "nullable": true
          },
          "disallow_transaction_split": {
            "type": "boolean",
            "nullable": true
          },
          "await_preparing": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateExplicitSourceResponse": {
      "description": "Ответ на запрос создания операции с явным источником ликвидности.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardCreateExplicitSourceErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardCreateExplicitSourceResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateExplicitSourceResult": {
      "description": "Результат создания операции с явным источником ликвидности.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateRequest": {
      "description": "Параметры создания операции вывода с автоматическим выбором источника ликвидности.",
        "required": [
          "bank_card",
          "client_operation_id",
          "order_amount",
          "user"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserApiView"
          },
          "bank_card": {
            "$ref": "#/components/schemas/BankCardInputApiView"
          },
          "profile": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "order_amount": {
            "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
          },
          "url_callback": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "report_metadata": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          },
          "merchant_user_entry_point_url": {
            "maxLength": 128,
            "type": "string",
            "nullable": true
          },
          "disallow_end_user_interaction": {
            "type": "boolean",
            "nullable": true
          },
          "disallow_transaction_split": {
            "type": "boolean",
            "nullable": true
          },
          "await_preparing": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateResponse": {
      "description": "Ответ на запрос создания операции вывода.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardCreateErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardCreateResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardCreateResult": {
      "description": "Результат создания операции вывода с её текущим состоянием.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetBalanceErrorCodeApiError": {
      "description": "Структура ошибки для метода get_balance.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetBalanceRequest": {
      "description": "Параметры запроса баланса.",
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetBalanceResponse": {
      "description": "Ответ с информацией о доступном балансе и источниках ликвидности.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardGetBalanceErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardGetBalanceResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetBalanceResult": {
      "description": "Детализация доступного баланса по всем источникам ликвидности.",
        "required": [
          "liquidity_sources",
          "total_available"
        ],
        "type": "object",
        "properties": {
          "total_available": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
            }
          },
          "liquidity_sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WithdrawCardLiquiditySourceBalanceApiView"
            }
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetOperationStateErrorCodeApiError": {
      "description": "Структура ошибки для метода get_operation_state.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "OPERATION_NOT_FOUND"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetOperationStateRequest": {
      "description": "Параметры запроса текущего состояния операции.",
        "required": [
          "client_operation_id"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetOperationStateResponse": {
      "description": "Ответ с текущим состоянием операции.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardGetOperationStateErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardGetOperationStateResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardGetOperationStateResult": {
      "description": "Результат с объектом текущего состояния операции.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardLiquiditySourceBalanceApiView": {
      "description": "Баланс по отдельному источнику ликвидности.",
        "required": [
          "source_id",
          "total_available"
        ],
        "type": "object",
        "properties": {
          "source_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "total_available": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatCurrencyAmountApiView"
            }
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardOpenUserInputErrorCodeApiError": {
      "description": "Структура ошибки для метода open_operation_user_input.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "OPERATION_NOT_FOUND",
              "UNACCEPTABLE_COMMAND"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardOpenUserInputRequest": {
      "description": "Параметры открытия пользовательского интерфейса для операции.",
        "required": [
          "client_operation_id"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "url_redirect": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardOpenUserInputResponse": {
      "description": "Ответ с параметрами участия пользователя и текущим состоянием операции.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardOpenUserInputErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardOpenUserInputResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardOpenUserInputResult": {
      "description": "Результат открытия пользовательского интерфейса с параметрами входа.",
        "required": [
          "operation_state",
          "user_input_parameters"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          },
          "user_input_parameters": {
            "$ref": "#/components/schemas/UserInputParametersApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardStartOperationErrorCodeApiError": {
      "description": "Структура ошибки для метода start_operation.",
        "required": [
          "code",
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "INTERNAL_ERROR",
              "MAINTENANCE",
              "UNAUTHORIZED",
              "BAD_REQUEST",
              "OPERATION_NOT_FOUND",
              "UNACCEPTABLE_COMMAND"
            ],
            "type": "string",
            "format": "enum",
            "example": "INTERNAL_ERROR"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardStartOperationRequest": {
      "description": "Параметры запуска ранее созданной операции.",
        "required": [
          "client_operation_id"
        ],
        "type": "object",
        "properties": {
          "project_id": {
            "maxLength": 64,
            "type": "string",
            "nullable": true
          },
          "client_operation_id": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardStartOperationResponse": {
      "description": "Ответ метода запуска операции.",
        "required": [
          "success",
          "trace_id"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "trace_id": {
            "minLength": 1,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/WithdrawCardStartOperationErrorCodeApiError"
          },
          "result": {
            "$ref": "#/components/schemas/WithdrawCardStartOperationResult"
          }
        },
        "additionalProperties": false
      },
    "WithdrawCardStartOperationResult": {
      "description": "Результат запуска операции с её актуальным состоянием.",
        "required": [
          "operation_state"
        ],
        "type": "object",
        "properties": {
          "operation_state": {
            "$ref": "#/components/schemas/CardWithdrawalOperationStateApiView"
          },
          "user_input_parameters": {
            "$ref": "#/components/schemas/UserInputParametersApiView"
          }
        },
        "additionalProperties": false
      },
    "WithdrawalFailureApiView": {
      "description": "Причина неуспешного завершения операции вывода.",
        "required": [
          "details"
        ],
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "NO_SUITABLE_METHODS",
              "INSUFFICIENT_BALANCE",
              "WITHDRAWAL_START_TIMEOUT",
              "ABORTED_BY_REQUEST",
              "UNSUPPORTED_WITHDRAWAL_PARAMETERS",
              "INTERNAL_ERROR",
              "PROVIDER_PROCESSING_ERROR",
              "UNSPECIFIED"
            ],
            "type": "string",
            "format": "enum",
            "example": "NO_SUITABLE_METHODS"
          },
          "details": {
            "minLength": 1,
            "type": "string"
          },
          "raw_provider_error_code": {
            "type": "string",
            "nullable": true
          },
          "raw_provider_error_message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Basic": {
        "type": "http",
        "scheme": "Basic"
      }
    }
  }
}